.background {
  background-color: #333450;
}

.body {
  background-color: #333450;
}

.back{

}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

#sortable li {
  position: relative;
  font-size: 1.4em;
}

#sortable li span {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bolder;
}
.back{
  width: 100%;
  height: 100%;
}

.cut-right-bottom-li {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0;
  align-self: flex-end;
  content: '';
  border-bottom: 1rem solid  #2a3c37;
  border-left: 1rem solid #232434;
}
.li-frame {
  width: 100%;
  padding: 1rem;
  margin: 0.2rem;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #2A2C37;
  color: #a2a8cc;
}

.li-frame::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  content: '';
  border-top: 1rem solid  #2a3c37;
  border-right: 1rem solid #232434;
}

.li-frame::after {
  position: absolute;
  z-index: 999;
  right: 0;
  bottom: 0;
  align-self: flex-end;
  content: '';
  border-bottom: 1rem solid  #2a3c37;
  border-left: 1rem solid #232434;
}

.checkbox-frame {
  background-color: #2A2C37;
  width: 2rem;
  height: 2rem;
  transform: skew(-20deg);
  cursor: pointer;
  overflow: hidden;
}

.checkbox-frame-bkg {
  background-color: #E0525A;
  width: 100%;
  height: 100%;
  filter: blur(1rem);
}

.checkbox-frame:hover {
  background-color: #474A5D;
  width: 2rem;
  height: 2rem;
  transform: skew(-20deg);
  cursor: pointer;
}

.checkbox-frame:active {
  background-color: #646883;
}

.checkbox-checked-frame {
  position: relative;
}

.checkbox-checked-frame:hover {
  background-color: #474A5D;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.checkbox-checked-frame:active {
  background-color: #646883;
}

@keyframes slidein {
  from {
    margin-left: -1rem;
  }

  to {
    margin-left: 0%;
  }
}

.checkbox-checked-content {
  content: '';
  width: 1rem;
  height: 1rem;
  transform: translate(50%, 50%);
  background-color: #E0525A;
  animation-name: slidein;
  animation-duration: .4s;
}

.tabs {
  padding-top: 95px;
  width: 53%;
  height: 100%;
  margin: 5rem auto 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.first-tab {
  background-image: url("/images/root_first_frame.png");
}

.second-tab {
  background-image: url("/images/root_second_frame.png");
}

/* 탭 스타일 */
.tab_item {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  clear: both;
  width: 100%;
  overflow: auto;
}


/* 선택 된 탭 콘텐츠를 표시 */
#all:checked~#all_content,
#programming:checked~#programming_content,
#design:checked~#design_content {
  display: block;
}

body {
  margin: 0;
  padding: 0;
}

.keydown-bkg {
  background-color: #2A2C37;
}

.keydown-bkg>* {
  display: flex;
}

.keydown-val-bkg {
  height: 4rem;
  width: 30%;
  position: relative;
  margin-left: auto;
  margin-right: 10%;
}

.keydown-val {
  background-color: #4C4E56;
  width: 100%;
  height: 4rem;
  transform: skew(-40deg);
  cursor: pointer;
}

.key-content {
  left: 50%;
  top: 50%;
  position: absolute;
  color: #E4515B;
  z-index: 999;
  font-weight: bolder;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}

.keydown-val:hover {
  background-color: #6D707C;
}

.keydown-val:active {
  background-color: #8E92A2;
}

.background {
  position: absolute;
  background-color: #383A43;
  width: 100%;
  height: 100%;
}

.cut-left-top {
  content: '';
  border-top: 1.5rem solid #383A43;
  border-right: 2rem solid #2A2C37;
}

.cut-right-bottom {
  align-self: flex-end;
  content: '';
  border-bottom: 1.5rem solid #383A43;
  border-left: 2rem solid #2A2C37;
}

.keydown-desc {
  display: flex;
  color: white;
  font-weight: bolder;
  flex-grow: 1;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}

.slider-desc {
  color: white;
  font-weight: bolder;
}

.slider-bkg {
  position: relative;
  text-align: right;
}

input[type=range] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  height: 10px;
  background: transparent;
  cursor: pointer;
  background: #32313A;
  border-radius: 1rem;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background: #ffffff;
  box-shadow: -100vw 0 0 100vw #833D48;
  border: 0.1px solid #833D48;
  border-radius: 1rem;
  cursor: pointer;
}

.blank {
  margin-top: 100px;
}

.line-wrap {
  margin-top: 30px;
  display: flex
}

.line-wrap hr {
  width: 100%;
  background-color: #fff;
  height: 1px;
}

.line-wrap span {
  font-size: 20px;
}

.main-content-wrap {
  padding: 60px 90px 0;
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.checklist-bkg {
  position: absolute;
}

.general-wrap-class {
  position: relative;
  width: 15rem;
  height: 35rem;
}

.color-wrap {
  margin-left: 50px;
  height: 74%;
}

.general-wrap {
  position: absolute;
  width: calc(100%/3.2);
  margin-top: 2rem;
  margin-left: 1rem;
  height: 74%;
  width: 15rem;
  overflow-y: auto;
  border: #fff;
  overflow: auto;
}

.general-wrap::-webkit-scrollbar {
  display: none;
}


.general-checkbox {
  margin-left: 18px;
}

.checkbox-ex {
  font-size: 18px;
  color: rgb(160, 160, 160);
}

.test {
  margin-left: 30px;
}

.colorwell {
  border: 2px solid #fff;
  width: 6em;
  text-align: center;
  cursor: pointer;
}

.colorpicker-bkg-img {
  width: 40rem;
  height: 500px;
  position: absolute;
}

.colorwell-selected {
  border: 2px solid #000;
  font-weight: bold;
}

.checkbox-frame{
  margin-top: 8px;
  margin-bottom: 8px;
}

.checkframe span{
  color: #FFF;
}
.checkframe > * {
  margin: 0.5rem;
}


.sec-frame {
  padding: 40px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.sec-frame > *:first-child {
  padding: 60px;
  width: 40%;
  height: 100%;
  background-image: url("/images/dragitem_list.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.sec-frame > *:last-child {
  width: 55%;
  box-sizing: border-box;
}

.sec-frame > *:last-child > *:first-child {
  padding: 20px 0;
  width: 100%;
  height: 100px;
  background-image: url("/images/sec_right_top.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.sec-frame > *:last-child > *:last-child {
  padding: 80px;
  width: 100%;
  height: 500px;
  background-image: url("/images/dragitem_list.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.sec-title {
  padding: 3rem 3rem 0 3rem;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

.sec-slider-img {
  position: absolute;
  width: 30rem;
  height: 15rem;
}

.sec-slider-img-bkg > * {
  width: 100%;
}

.drag-item-list {
  
}